<!DOCTYPE html>
<html>
<body>

<h1>Login page</h1>


<div id="user_nav">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>! </br>
    <h1><%= link_to "Sign out", signout_path, id: "sign_out" %></h1>      
      <h1><%= link_to  "Journeys", journeys_path %> </h1>
  <% else %>
  
  <h1>  <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></h1>

  <% end %>
</div>

</body>
</html>
